
body {
  text-align: center;
}

#main {
  line-height: 30px;
  width: 96%;
  margin: auto;
}

#keys-input {
  width: 300px;
  border-radius: 2px;
}

#start-search {
  margin-left: 10px;
}

#filtered-content {
  text-align: left;
  position: absolute;
  width: 65%;
  margin-left: 30%;
  margin-top: 2%;
  overflow-y: scroll;
  line-height: 1.5em;
  padding: 15px;
}

#notice {
  background-color: #cdd8d8;
  font-size: 14px;
  line-height: 1.5em;
  width: 600px;
  margin: auto;
}

#caption {
  font-size: 18px;
  font-weight: bold;
}

#filtered-title {
  margin-top: 2%;
  float: left;
  word-break: break-all;
  width: 30%;
  background-color: #ececec;
}

#keys-li li:hover {
  color: #e40a0a;
  cursor: pointer;
  font-weight: bold;
}

.keywords {
  margin: 0 5px;
}

#list-key {
  margin-top: 10px;
}

.file-info {
  margin: 0 10px;
}

.exclude {
  margin: 10px;
}